<!DOCTYPE html>
<html>
<head>
	<title>exam form</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="calculator.js"> </script>

</head>


<style type="text/css">
	#examform
	{
		margin-left: 3%;
	}
	strong
	{
		font-size: 2em;
		color: blue;
	}
	#time_div
	{
		 
		   position: fixed;
		   top: 8vw;
           right: 1.6vw;
		   font-size:2vw;
		   color: red;
	}

#iframeforcalsi
{
            width:29vw;
            height:20vw;
		   position: fixed;
		   bottom: 4vw;
           right: 1.6vw;
		   color: red;
	}

</style>

<body onload="timer()" >
	<div class="container-fluid">
	<h1>This is examination </h1>
	<br> <hr>
      <p id="time_div" > </p>
      <iframe id = "iframeforcalsi"  src = " /static/calculator.html" > </iframe>
	<hr>
<form   action="" id = "examform">
  <!-- Group of default radios - option 1 -->
 <strong class="strong"> 1. </strong> <b> <h4> The dimension of e-commerce that enables commerce across national boundaries is called _______. </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_1_1" name="ecomerrce1">
  <label class="custom-control-label" for="ecomerrce1_1_1">interactivity</label>
</div>

<!-- Group of default radios - option 2 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_1_2" name="ecomerrce1" >
  <label class="custom-control-label" for="ecomerrce1_1_2">global reach</label>
</div>

<!-- Group of default radios - option 3 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_1_3" name="ecomerrce1">
  <label class="custom-control-label" for="ecomerrce1_1_3">richness</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_1_4" name="ecomerrce1">
  <label class="custom-control-label" for="ecomerrce1_1_4">ubiquity</label>
</div>
<br>
</b>

<b>
<h4> Which of the following describes e‐commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_2_1" name="ecomerrce2">
  <label class="custom-control-label" for="ecomerrce1_2_1">Doing business electronically</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_2_2" name="ecomerrce2" >
  <label class="custom-control-label" for="ecomerrce1_2_2">Doing business</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_2_3" name="ecomerrce2">
  <label class="custom-control-label" for="ecomerrce1_2_3">Sale of goods</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_2_4" name="ecomerrce2">
  <label class="custom-control-label" for="ecomerrce1_2_4">All of the above</label>
</div></b>
<br>
<b>
<h4> Which one of the following is not one of the major types of e-commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_3_1" name="ecomerrce3">
  <label class="custom-control-label" for="ecomerrce1_3_1">C2B</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_3_2" name="ecomerrce3" >
  <label class="custom-control-label" for="ecomerrce1_3_2">B2C </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_3_3" name="ecomerrce3">
  <label class="custom-control-label" for="ecomerrce1_3_3">B2B </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_3_4" name="ecomerrce3">
  <label class="custom-control-label" for="ecomerrce1_3_4">C2C</label>
</div>
</b>
<br>
<b>
<h4> Which of the following is part of the four main types for e‐commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_4_1" name="ecomerrce4">
  <label class="custom-control-label" for="ecomerrce1_4_1">B2B</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_4_2" name="ecomerrce4" >
  <label class="custom-control-label" for="ecomerrce1_4_2">B2C </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_4_3" name="ecomerrce4">
  <label class="custom-control-label" for="ecomerrce1_4_3">C2B</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_4_4" name="ecomerrce4">
  <label class="custom-control-label" for="ecomerrce1_4_4">All of the above</label>
</div>

</b>

<br>
<b>
<h4> Which of the following is not considered to be one of the three phases of e-commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_5_1" name="ecomerrce5">
  <label class="custom-control-label" for="ecomerrce1_5_1">Innovation</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_5_2" name="ecomerrce5" >
  <label class="custom-control-label" for="ecomerrce1_5_2">Consolidation </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_5_3" name="ecomerrce5">
  <label class="custom-control-label" for="ecomerrce1_5_3">Preservation</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_5_4" name="ecomerrce5">
  <label class="custom-control-label" for="ecomerrce1_5_4">Reinvention</label>
</div>
</b>


<br>
<b>
<h4> Which segment do eBay, Amazon.com belong? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_6_1" name="ecomerrce6">
  <label class="custom-control-label" for="ecomerrce1_6_1">B2Bs </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_6_2" name="ecomerrce6" >
  <label class="custom-control-label" for="ecomerrce1_6_2">B2Cs </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_6_3" name="ecomerrce6">
  <label class="custom-control-label" for="ecomerrce1_6_3">C2Bs</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_6_4" name="ecomerrce6">
  <label class="custom-control-label" for="ecomerrce1_6_4">C2Cs</label>
</div>
</b>

<br>
<b>
<h4> The idealistic market envisioned at the outset of the development of e-commerce is called a ______. </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_7_1" name="ecomerrce7">
  <label class="custom-control-label" for="ecomerrce1_7_1">Bailey market </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_7_2" name="ecomerrce7" >
  <label class="custom-control-label" for="ecomerrce1_7_2">Baxter market </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_7_3" name="ecomerrce7">
  <label class="custom-control-label" for="ecomerrce1_7_3">Bergman market</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_7_4" name="ecomerrce7">
  <label class="custom-control-label" for="ecomerrce1_7_4">Bertrand market</label>
</div>

<br>
<h4> Which type of e‐commerce focuses on consumers dealing with each other? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_8_1" name="ecomerrce8">
  <label class="custom-control-label" for="ecomerrce1_8_1">B2B </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_8_2" name="ecomerrce8" >
  <label class="custom-control-label" for="ecomerrce1_8_2">B2C </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_8_3" name="ecomerrce8">
  <label class="custom-control-label" for="ecomerrce1_8_3">C2B</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_8_4" name="ecomerrce8">
  <label class="custom-control-label" for="ecomerrce1_8_4">C2C</label>
</div>
</b>
<br>

<b>
<h4> The primary source of financing during the early years of e-commerce was _______.</h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_9_1" name="ecomerrce9">
  <label class="custom-control-label" for="ecomerrce1_9_1">bank loans </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_9_2" name="ecomerrce9" >
  <label class="custom-control-label" for="ecomerrce1_9_2">large retail firms </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_9_3" name="ecomerrce9">
  <label class="custom-control-label" for="ecomerrce1_9_3">venture capital funds </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_9_4" name="ecomerrce9">
  <label class="custom-control-label" for="ecomerrce1_9_4">initial public offerings</label>
</div>
</b>
<br>

<b>
<h4> Which segment is eBay an example?</h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_10_1" name="ecomerrce10">
  <label class="custom-control-label" for="ecomerrce1_10_1">B2B </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_10_2" name="ecomerrce10" >
  <label class="custom-control-label" for="ecomerrce1_10_2">C2B </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_10_3" name="ecomerrce10">
  <label class="custom-control-label" for="ecomerrce1_10_3">C2C </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_10_4" name="ecomerrce10">
  <label class="custom-control-label" for="ecomerrce1_10_4">None of the above</label>
</div>
</b>
<br>


<b>
  <h4> The dimension of e-commerce that enables commerce across national boundaries is called _______. </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_11_1" name="ecomerrce11">
  <label class="custom-control-label" for="ecomerrce1_11_1">interactivity</label>
</div>

<!-- Group of default radios - option 2 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_11_2" name="ecomerrce11" >
  <label class="custom-control-label" for="ecomerrce1_11_2">global reach</label>
</div>

<!-- Group of default radios - option 3 -->
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_11_3" name="ecomerrce11">
  <label class="custom-control-label" for="ecomerrce1_11_3">richness</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_11_4" name="ecomerrce11">
  <label class="custom-control-label" for="ecomerrce1_11_4">ubiquity</label>
</div>
</b>
<br>

<b>
<h4> Which of the following describes e‐commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_12_1" name="ecomerrce12">
  <label class="custom-control-label" for="ecomerrce1_12_1">Doing business electronically</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_12_2" name="ecomerrce12" >
  <label class="custom-control-label" for="ecomerrce1_12_2">Doing business</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_12_3" name="ecomerrce12">
  <label class="custom-control-label" for="ecomerrce1_12_3">Sale of goods</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_12_4" name="ecomerrce12">
  <label class="custom-control-label" for="ecomerrce1_12_4">All of the above</label>
</div>
</b>
<br>

<b>
<h4> Which one of the following is not one of the major types of e-commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_13_1" name="ecomerrce13">
  <label class="custom-control-label" for="ecomerrce1_13_1">C2B</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_13_2" name="ecomerrce13" >
  <label class="custom-control-label" for="ecomerrce1_13_2">B2C </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_13_3" name="ecomerrce13">
  <label class="custom-control-label" for="ecomerrce1_13_3">B2B </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_13_4" name="ecomerrce13">
  <label class="custom-control-label" for="ecomerrce1_13_4">C2C</label>
</div>
</b>
<br>
<b>
<h4> Which of the following is part of the four main types for e‐commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_14_1" name="ecomerrce14">
  <label class="custom-control-label" for="ecomerrce1_14_1">B2B</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_14_2" name="ecomerrce14" >
  <label class="custom-control-label" for="ecomerrce1_14_2">B2C </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_14_3" name="ecomerrce14">
  <label class="custom-control-label" for="ecomerrce1_14_3">C2B</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_14_4" name="ecomerrce14">
  <label class="custom-control-label" for="ecomerrce1_14_4">All of the above</label>
</div>

</b>

<br>

<b>
<h4> Which of the following is not considered to be one of the three phases of e-commerce? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_15_1" name="ecomerrce15">
  <label class="custom-control-label" for="ecomerrce1_15_1">Innovation</label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_15_2" name="ecomerrce15" >
  <label class="custom-control-label" for="ecomerrce1_15_2">Consolidation </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_15_3" name="ecomerrce15">
  <label class="custom-control-label" for="ecomerrce1_15_3">Preservation</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_15_4" name="ecomerrce15">
  <label class="custom-control-label" for="ecomerrce1_15_4">Reinvention</label>
</div>

</b>

<br>
<b>
<h4> Which segment do eBay, Amazon.com belong? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_16_1" name="ecomerrce16">
  <label class="custom-control-label" for="ecomerrce1_16_1">B2Bs </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_16_2" name="ecomerrce16" >
  <label class="custom-control-label" for="ecomerrce1_16_2">B2Cs </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_16_3" name="ecomerrce16">
  <label class="custom-control-label" for="ecomerrce1_16_3">C2Bs</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_16_4" name="ecomerrce16">
  <label class="custom-control-label" for="ecomerrce1_16_4">C2Cs</label>
</div>
</b>

<br>
<b>
<h4> The idealistic market envisioned at the outset of the development of e-commerce is called a ______. </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_17_1" name="ecomerrce17">
  <label class="custom-control-label" for="ecomerrce1_17_1">Bailey market </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_17_2" name="ecomerrce17" >
  <label class="custom-control-label" for="ecomerrce1_17_2">Baxter market </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_17_3" name="ecomerrce17">
  <label class="custom-control-label" for="ecomerrce1_17_3">Bergman market</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_17_4" name="ecomerrce17">
  <label class="custom-control-label" for="ecomerrce1_17_4">Bertrand market</label>
</div>
</b>
<br>
<b>
<h4> Which type of e‐commerce focuses on consumers dealing with each other? </h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_18_1" name="ecomerrce18">
  <label class="custom-control-label" for="ecomerrce1_18_1">B2B </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_18_2" name="ecomerrce18" >
  <label class="custom-control-label" for="ecomerrce1_18_2">B2C </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_18_3" name="ecomerrce18">
  <label class="custom-control-label" for="ecomerrce1_18_3">C2B</label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_18_4" name="ecomerrce18">
  <label class="custom-control-label" for="ecomerrce1_18_4">C2C</label>
</div>
</b>
<br>
<b>
<h4> The primary source of financing during the early years of e-commerce was _______.</h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_19_1" name="ecomerrce19">
  <label class="custom-control-label" for="ecomerrce1_19_1">bank loans </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_19_2" name="ecomerrce19" >
  <label class="custom-control-label" for="ecomerrce1_19_2">large retail firms </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_19_3" name="ecomerrce19">
  <label class="custom-control-label" for="ecomerrce1_19_3">venture capital funds </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_19_4" name="ecomerrce19">
  <label class="custom-control-label" for="ecomerrce1_19_4">initial public offerings</label>
</div>
</b>
<br>
<b>
<h4> Which segment is eBay an example?</h4>
<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_20_1" name="ecomerrce20">
  <label class="custom-control-label" for="ecomerrce1_20_1">B2B </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_20_2" name="ecomerrce20" >
  <label class="custom-control-label" for="ecomerrce1_20_2">C2B </label>
</div>


<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_20_3" name="ecomerrce20">
  <label class="custom-control-label" for="ecomerrce1_20_3">C2C </label>
</div>

<div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="ecomerrce1_20_4" name="ecomerrce20">
  <label class="custom-control-label" for="ecomerrce1_20_4">None of the above</label>
</div>
</b>
<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>

</div>
</body >
</html>

<script>

   function timer()
{
	var time =  "03:00:01";
	var timer_div = document.getElementById("time_div");
	time_div.innerHTML = time;
	my_timer = setInterval(function t (){

		var time_up = false;
		t= time.split(":");
		var hr =  parseInt(t[0]);
		var min = parseInt(t[1]);
		var sec = parseInt(t[2]);

		if(sec == 0)
		{
			if(min>0)
			{
				sec = 59;
				min--;
			}
			else if(hr>0)
			{
				min = 59;
				sec = 59;
				hr--;
			}
			else
			{
				time_up =true;
			}
		}
		else
		{
			sec--;
		}
		time = hr+":"+min+":"+sec;
		if(time_up==true)
		{
			//time = "Time Out";
		}
		time_div.innerHTML = time;
		if(time_up==true)
		{

			time =  "00:00:00";

			function t () {
  				clearIntervel(time);

						}


		//time = "Time Out";
			//clearIntervel(time);

		}


	}, 1100);

}
</script>